    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Explore Our Software</h2>
                    <p>You can checkout all of our programs at our GitHub page.</p>
                    <a href="http://github.com/PollockLaboratory" class="btn btn-default btn-lg">Explore Our Programs</a>
		    <p>And <a ref=https://github.com/PollockLaboratory>We</a> work hard to maintain easy to use and cross-platform software, and if that is interesting to you, feel to help us.</p>
                </div>
            </div>
        </div>
    </section>
