    <!-- Download Section -->
    <section id="explore" class="content-section text-center">
        <div class="explore-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Explore Our Software</h2>
		    <p>We scientific computing software.</p>
                    <a href="http://github.com/PollockLaboratory" class="btn btn-default btn-lg">Explore</a>
                </div>
            </div>
        </div>
    </section>
